<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-menu-button class="title-white"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-white">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="degradado">
  <ion-card *ngIf="usuario">
    <ion-card-header>
      <ion-title>Información Personal</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Nombre de usuario:</ion-label>
          <ion-text>{{ usuario.username }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Correo electrónico:</ion-label>
          <ion-text>{{ usuario.email }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre:</ion-label>
          <ion-text>{{ usuario.first_name }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido Paterno:</ion-label>
          <ion-text>{{ usuario.last_name }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido Materno:</ion-label>
          <ion-text>{{ usuario.apellido_materno }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Dirección:</ion-label>
          <ion-text>{{ usuario.direccion }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Comuna:</ion-label>
          <ion-input readonly value="{{ comunaNombre }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Teléfono:</ion-label>
          <ion-text>{{ usuario.phone }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="input-verde ion-margin-top boton" (click)="volver()" style="margin: 0 auto;">Volver</ion-button>
</ion-content>
