<ion-list>
  <ion-buttons slot="start">
    <ion-menu-button (click)="actualizarMenu()"></ion-menu-button>
  </ion-buttons>

  <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
    <ion-item button [routerLink]="[p.url]" routerDirection="root">
      <ion-avatar slot="start">
        <img src="assets/hay_pan.svg" alt="Avatar">
      </ion-avatar>
      <ion-icon slot="start" [name]="p.icon"></ion-icon>
      <ion-label>{{p.title}}</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-item>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Nombre de usuario: {{ usuario }}</ion-label>
  </ion-item>

  <ion-menu-toggle auto-hide="false">
    <ion-item button (click)="perfil()">
      <ion-icon slot="start" name="create"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle auto-hide="false">
    <ion-item button (click)="verHistorial()">
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle auto-hide="false">
    <ion-item button (click)="verCarrito()">
      <ion-icon slot="start" name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-item>
  
  <ion-menu-toggle auto-hide="false">
    <ion-item button (click)="desconectar()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label>Desconectar</ion-label>
    </ion-item>
  </ion-menu-toggle>

